

#bienvenue{
	color:#5F8CA3;
	margin-top: 0;
	
}

h1.titre{
	color:#FFB6B8;
	text-align: center;
}

nav.menu-nav ul li.btn{
	list-style-type: none;
	display: inline-block;
}

nav.menu-nav ul li.btn a{
	color: #FFB6B8;
	text-decoration: none;
	background-color:#5F8CA3;
	padding: 10px;
	transition: 1s all;
}

nav.menu-nav ul li.btn:hover a{
	color:#5F8CA3;
	background-color:#FFB6B8;
	transition: 0.3s all;
}

div#content div{
	display: inline-block;
	width: 49%;
}

div#content div.leftbox{
	vertical-align: top;
}

div#content div.rightbox{
	vertical-align: top;
	margin: 0;
}

div#content div.leftbox h3,p,iframe,img{
	margin: 40px;
}

div#content div.rightbox img{
	margin: 30px;
}

div#content div h3{
	margin: 70px;
}

div#content div.leftbox p{
	color: #5F8CA3;
}


div#content div.rightbox p{
	color: #5F8CA3;
}

div#content{
	background-color: #A2B5BF;
	margin: 0;
}
a{
	display: inline-block;
	color:#FFB6B8;
	background-color: white;
	text-decoration: none;
	list-style-type: none;
	padding: 20px;
	font-size: 20px;
}

div#back{
	background-image: url(R.jpg);
}

div#content a{
	background-color:#A2B5BF ;
}

div#content h2{
	vertical-align: middle;
}
footer p{
	color: #A2B5BF;
}

h2{
	color:#5F8CA3;
	padding: 35px;
}

body{
	background-color: #5F8CA3;
	
}

body a{
	background-color: #5F8CA3;
}

body nav{
	padding: 30px;
}

body h1{
	margin-bottom: 300px;
	text-align: center;
}

header h3{
	margin-left: 23cm;
}

header img{
	margin-top: 0;
	background-color: #FFB6B8;
}

span.icon{
	padding: 5px;
	margin: 5px;
	position:sticky;
	
}
#gon{
	position: absolute;
	width: fit-content;
	height:fit-content;
}

p.text{
	color: #5F8CA3;
}

a.mail{
	color:#A2B5BF ;
}
p.text{
	font-size: 20px;
	color:#A2B5BF ;
}

h2.type{
	font-size: 30px;
}
.underline{
	text-decoration: underline;
}

.icon{
	font-size: 30px;
}

.contenu{
	background-color: #FFB6B8;
	color: #5F8CA3;
	font-size: 20px;
}

nav {
    text-align:center;
}
head{
	margin: 60px;
	background-color: #A2B5BF;
}