
#bienvenue{
	color:#E8AABE;
}

nav.menu-nav ul li.btn{
	list-style-type: none;
	display: inline-block;
}

nav.menu-nav ul li.btn a{
	color:#5F8CA3;
	text-decoration: none;
	background-color:#FFB6B8;
	padding: 10px;
	transition: 1s all;
}

nav.menu-nav ul li.btn:hover a{
	color:#5F8CA3;
	background-color:#FFB6B8;
	transition: 0.3s all;
}


a{
	display: inline-block;
	color: #4AA3A2;
	text-decoration: none;
	list-style-type: none;
	padding: 20px;
	font-size: 20px;
}

footer p{
	color: #4AA3A2;
}

body{
	background-color: #E8AABE;
	margin: auto;
	
}

body a{
	background-color: #E8AABE;
}

body nav{
	padding: 400px;
}

body h1{
	text-align: center;
	font-size: 100px;
	
}

header h3{
	margin-left: 23cm;
}

span.icon{
	padding: 5px;
	margin: 5px;
	position:sticky;
	
}


a.mail{
	color:#A2B5BF ;
}

.underline{
	text-decoration: underline;
}

.icon{
	font-size: 30px;
}

.contenu{
	background-color: #FFB6B8;
	color: #5F8CA3;
	font-size: 20px;
}

nav {
    text-align:center;
}
head{
	margin: 60px;
	background-color: #A2B5BF;
}
h1{
	border: 4px solid #A2B5BF;
}