#menuNav {
	display: inline-block;
	color: #9F44DB;
	background-color: white;
	text-decoration: none;
	list-style-type: none;
}

#bienvenue{
	color:#5F8CA3;
	margin-top: 0;
}

h1.titre{
	color:#FFB6B8;
}

nav.menu-nav ul li.btn{
	list-style-type: none;
	display: inline-block;
}

nav.menu-nav ul li.btn a{
	color: #FFB6B8;
	text-decoration: none;
	background-color:#5F8CA3;
	padding: 30px;
}

nav.menu-nav ul li.btn:hover a{
	color:#5F8CA3;
	background-color:#FFB6B8;
	transition: 0.3s all;
}

div#content div{
	display: inline-block;
	width: 49%;
}

div#content div.leftbox{
	vertical-align: top;
}

div#content div.rightbox{
	vertical-align: top;
	margin: 0;
}

div#content div.leftbox h3,p,iframe,img{
	margin: 40px;
}

div#content div.rightbox img{
	margin: 30px;
}

div#content div h3{
	margin: 70px;
}

div#content div.leftbox h3{
	color:brown ;
}

div#content div.leftbox p{
	color: #5F8CA3;
}

div#content div.rightbox h3{
	color:brown;
}

div#content div.rightbox p{
	color: #5F8CA3;
}

div#content{
	background-color: #A2B5BF;
	margin: 0;
}
a{
	display: inline-block;
	color:#FFB6B8;
	background-color: white;
	text-decoration: none;
	list-style-type: none;
	padding: 20px;
	font-size: 20px;
}

div#back{
	background-image: url(R.jpg);
}
div#content a{
	background-color:#A2B5BF ;
}
div#content h2{
	vertical-align: middle;
}
footer p{
	color: #A2B5BF;
}
h2{
	color:#5F8CA3;
	padding: 35px;
}
body{
	background-color: #5F8CA3;
	
}
body a{
	background-color: #5F8CA3;
}
body nav{
	padding: 30px;
	margin-left: 18cm;
	margin-top: 8cm;

}
body h1{
	margin-left: 23cm;
	margin-top: 0cm;
}

header h3{
	margin-left: 23cm;
}
header img{
	margin-top: 0;
	background-color: #FFB6B8;
}
span.icon{
	padding: 10px;
	margin: 10px;
	
}
#gon{
	position: absolute;
}
p.text{
	color: #5F8CA3;
}
a.mail{
	color:#A2B5BF ;
}
p.text{
	font-size: 20px;
	color:#A2B5BF ;
}
h2.type{
	font-size: 30px;
}
.underline{
	text-decoration: underline;
}
.icon{
	font-size: 30px;
}