#menuNav {
	display: inline-block;
	color: #9F44DB;
	background-color: white;
	text-decoration: none;
	list-style-type: none;
}

h1.categorie{
	color:chocolate;
}

h1.titre{
	color:lightcoral;
}

nav.menu-nav ul li.btn{
	list-style-type: none;
	display: inline-block;
}

nav.menu-nav ul li.btn a{
	color: coral;
	text-decoration: none;
	background-color:lightpink;
	padding: 20px;
}

nav.menu-nav ul li.btn:hover a{
	color:lightgreen;
	background-color:lightcoral;
	transition: 0.3s all;
}

div#content div{
	display: inline-block;
	width: 49%;
}

div#content div.leftbox{
	vertical-align: top;
}

div#content div.rightbox{
	vertical-align: top;
	margin: 0;
}

div#content div.leftbox h3,p,iframe,img{
	margin: 40px;
}

div#content div.rightbox img{
	margin: 30px;
}

div#content div h3{
	margin: 70px;
}

div#content div.leftbox h3{
	color:brown ;
}

div#content div.leftbox p{
	color: rgb(37, 10, 134);
}

div#content div.rightbox h3{
	color:brown;
}

div#content div.rightbox p{
	color: rgb(37, 10, 134);
}

div#content{
	background-color: lightcoral;
	margin: 0;
}
a{
	display: inline-block;
	color:brown;
	background-color: white;
	text-decoration: none;
	list-style-type: none;
	padding: 20px;
}

div#back{
	background-image: url(R.jpg);
}
div#content a{
	background-color: lightcoral;
}
div#content h2{
	vertical-align: middle;
}
footer p{
	color: coral;
}
h2{
	color: brown;
}
body{
	background-color: lightpink;
	
}
body a{
	background-color: lightpink;
}
body nav{
	padding: 20px;
	margin-left: 23cm;
	margin-top: 1cm;

}
body h1{
	margin-left: 23cm;
	margin-top: 1cm;
}
body input{
	margin-left: 50cm;
	margin-top: 5cm;
	padding: 10px;
}
header h3{
	margin-left: 23cm;
}
header img{
	margin-top: 0;
	background-color: lightpink;
}
span.icon{
	padding: 10px;
	margin: 10px;
	
}
